

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{'assets/css/styles.css' | relative_url}}">

    {% for css in layout.css %}
    {% if css contains "//" %}
      <link rel="stylesheet" href="{{ css }}">
    {% else %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css }}">
    {% endif %}
  {% endfor %}

  {% for css in page.css %}
  {% if css contains "//" %}
    <link rel="stylesheet" href="{{ css }}">
  {% else %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css }}">
  {% endif %}
{% endfor %}
    
</head>