<header>
    <div class="logo">
        <span>Note</span>book.
    </div>
     <nav>  
    <button class="menu-btn"><div class="menu-bar menu-bar-open"></div></button>
    <ul class="menu">
           <li class="item"> <a href="{{'/' | relative_url}}"> Home</a></li>
            <li class="item">All Categories</li>
            <li class="item">About Project</li>
            <li class="item">  <a href="{{'/aboutus' | relative_url}}">About Us</a> </li>
    </ul>
    </nav>
</header>
<script src = "{{'assets/js/header.js' | relative_url}}"></script>
