--- 

--- 



//color
$clr-prim : #448ac9;
$clr-comp :#45CB64 ;
$clr-sec : #e2ebf8;


$clr-font:$clr-sec ;

//typography

//global

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;

}
button{
    border:none;
    background:none;
    color:currentColor;
}
a{
    color:currentColor;
    text-decoration:none;
}
body{
    color:$clr-font;
    background:$clr-prim;
    font-family:sans-serif;
}
:root{
    --head-height : 80px;
}
$padding-lr:20px;
//for header
@import "header";

// for section

@import "section";

//for footer
footer{
    padding:$padding-lr;
    line-height:1.5rem;
    hr{
        color:$clr-font;
    }
    p{
        padding:$padding-lr/2;
    }
}