--- 

--- 



//color
$clr-prim : #448ac9;
$clr-comp :#45CB64 ;
$clr-sec : #e2ebf8;


$clr-font:$clr-sec ;

//typography

//global

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}
body{
    color:$clr-font;
    background:$clr-prim;
    font-family:sans-serif;
}
:root{
    --head-height : 80px;
}
$padding-lr:20px;
//for header
header{
    width:100vw;
    height:var(--head-height);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 $padding-lr;
    position:relative;

    .logo{
        font-size:32px;
        font-weight:bold;

        span{
            background:$clr-comp;
            border-radius:5px;
            padding-left:$padding-lr/2;
        }
    }

    nav{
        background:inherit;
        .menu-bar{
            transform:rotate(90deg);
            font-size:25px;
            font-weight:bolder;
            cursor:pointer;

        }
        .menu{
            font-size:1.5rem;
            padding:$padding-lr;
            position:absolute;
            top:100%;
            right:-100%;
            background:$clr-prim;
            width:70vw;
            height:calc(100vh - var(--head-height));
            transition: right 150ms linear;
         
            ul{
                li{
                    padding:$padding-lr;
                    transition: letter-spacing 150ms linear;
                    &:hover{
                        letter-spacing:0.1rem;
                    }

                }
            }
        }
        .open{
            right:0;
        }
    }

    
}

// for section
section{
    padding:$padding-lr*2 $padding-lr;
    background:$clr-font;
    color:#2e2e2e;
    min-height:calc(100vh - var(--head-height));
    .title{
        text-align:center;
        font-size:2rem;
        color:$clr-prim;
    }
}

//for footer
footer{
    padding:$padding-lr;
    line-height:1.5rem;
    hr{
        color:$clr-font;
    }
    p{
        padding:$padding-lr/2;
    }
}